$green: #A8D574;
$black: #343434;
$white: #FFFFFF;
$gray: #707070;
$yellow: #FFD065;
$lightGray: #F0F0F0;
$red: #FF521A;


@mixin phone_width() {
  @media all and (max-width: 800px) {
    @content;
  }
}

